# Von Visual Studio generierte .clang-format-Datei

AccessModifierOffset: -4
AlignAfterOpenBracket: Align
# AlignConsecutiveAssignments: true # disable for now, aligns wrong in some cases
AlignConsecutiveMacros: true 
AllowShortBlocksOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
AllowShortLambdasOnASingleLine: Inline
AllowShortCaseLabelsOnASingleLine: true
AlwaysBreakTemplateDeclarations : No
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortEnumsOnASingleLine: true
BasedOnStyle: LLVM
BraceWrapping:
  AfterClass: false
  AfterCaseLabel : false
  AfterControlStatement: false
  AfterEnum: false
  AfterFunction: false
  AfterNamespace: false
  AfterStruct: false
  AfterUnion: false
  BeforeCatch: false
  BeforeElse: false
  BeforeLambdaBody: false
  BeforeWhile: false
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
BreakBeforeBraces: Custom
BreakInheritanceList: BeforeComma
ColumnLimit: 0
Cpp11BracedListStyle: false
FixNamespaceComments: false
IndentCaseLabels: true
IndentPPDirectives: BeforeHash 
IndentWidth: 4
MaxEmptyLinesToKeep: 10
NamespaceIndentation: None
PointerAlignment: Left
SortIncludes: false
SortUsingDeclarations: false
SpaceAfterCStyleCast: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpaceAfterTemplateKeyword: false
TabWidth: 4
UseTab: Never
